@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Minecraft";
    src: url("../../../packages/assets/fonts/Monocraft.woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Pixy";
    src: url("../../../packages/assets/fonts/PIXY.woff2");
    font-display: swap;
  }

  :root {
    --bprogress-color: theme("colors.shark.400")
  }

  body {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
  }

  body {
    @apply text-white bg-[#171717] antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-[6px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-shark-950 rounded-md;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-shark-900 m-4 rounded-md;
  }
}

@layer theme {
  .bg-primary-color {
    @apply bg-shark-950
  }

  .bg-secondary-color {
    @apply bg-shark-700;
  }
}

@layer components {
  .responsive-width {
    @apply w-[calc(100%-8px)] sm:w-[calc(100%-32px)] md:w-[calc(100%-64px)] 2xl:w-[76%]
  }

  .nickname-color-picker .react-colorful {
    @apply w-auto;
  }

  .nickname-color-picker .react-colorful__saturation-pointer {
    @apply rounded-none w-4 h-4;
  }

  .icon {
    @apply select-none fill-current inline-block text-inherit box-content;
  }

  .icon[data-axis*='x'] {
    @apply w-[1em];
  }

  .icon[data-axis*='y'] {
    @apply h-[1em];
  }

  .main-section::-webkit-scrollbar {
    @apply w-[10px];
  }

  .main-section::-webkit-scrollbar-track {
    @apply bg-shark-950 rounded-lg;
  }

  .main-section::-webkit-scrollbar-thumb {
    @apply bg-shark-800 m-4 rounded-lg;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .hover-select-effect {
    @apply hover:bg-shark-700/60 cursor-pointer border border-shark-700 duration-300 hover:duration-300;
  }

  .friend-card {
    @apply relative w-full bg-shark-950 border-b border-shark-800 rounded-lg p-4;
  }

  .biloba-background {
    @apply bg-gradient-to-r border border-pink-400/20 from-pink-950/40 via-pink-950/60 to-pink-950/40;
  }
}

@layer utilities {
  .biloba-gradient {
    background: radial-gradient(ellipse at top, var(--tw-gradient-stops));
    --tw-gradient-from: theme('colors.biloba-flower.500');
    --tw-gradient-to: transparent;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .landing-background {
    background: #E51951;
    background: linear-gradient(356deg, rgba(229, 25, 81, 0.15) 10%, rgba(120, 29, 54, 0.18) 27%, rgba(31, 31, 31, 1) 80%);
  }
}